@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

$teget: #222831;
$zuta: #f9be37;
$svetlo_siva: #f8faff;
$center_margin: 0 auto;
$main_font: 'Roboto', sans-serif;
$secondary_font: 'Playfair Display', sans-serif;
$srednji_ekran: 950px;
$mali_ekran: 650px;
